:root {
  /* PRIMARY COLORS */
  --dark-green-color: #014e56;
  --pink-color: #f67e7e;
  --white-color: #fff;
  /* SECONDARY COLORS */
  --light-green: #79c8c7;
  --police-blue: #2c6269;
  --darkk-green: #004047;
  --012-green: #012f34;
  --002-green: #002529;
}
